<!-- <app-gesture-recognition></app-gesture-recognition> -->
<!-- <app-camera></app-camera> -->
<router-outlet></router-outlet>
<div style="display:none" id="gesture-div">
      
      <div id="status">
        <p id="status-text">Status: Not Ready</p>
      </div>
      <video id="video" src='' muted autoplay playsinline style="display:none"></video>
      <div class="split-left">
        <div class="centered">
            <!-- <button (click)="getBatteryInfo()">Test HTTP Button</button>
            <button (click)="steadyCamera()">Half</button>
            <button (click)="takePicture()">Full</button>
            <button (click)="stopPicture()">Stop</button>
            <button (click)="setSpeed()">Speed</button> -->
          <h1 id="text" class="intro-steps">Make sure your gesture pictures are ready or that you are ready to record your gestures!<br><br>If you are ready, click the button below to begin!
          </h1>
          <div id="training-list">
            <div id="example-list" style="color:#222"></div>
            <div id="add" style="display:none">
              <form id="add-word" autocomplete="off">
                <input type="text" id="new-word" placeholder="Add Training word">
                <br/><br/>
                <label>
                  <input type="checkbox" id="is-terminal-word">
                  Is terminal word?
                </label>
                <br/><br/>
                <input type="submit" value="Add Word">
                <p><b>Terminal Word</b> - A word that appears as the last word in your query</p>
                <p>e.g If you intend to ask "What's <b><em>the weather</em></b>?" & "What's <b><em>the time</em></b>?" then <b><em>the weather</em></b> and <b><em>the time</em></b> are terminal words whereas <b><em>what's</em></b> is not</p>
              </form>
            </div>
            <p id="count">Training: 2 words</p>
            <div id="action-btn">
                    <div class="column-two portfolio-experiment" id="predict-button" style="display:none">
                        <a class="selected-text">
                            <span class="text">Start Predicting</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                    <div class="column-two portfolio-experiment" id="train-button" style="display:none">
                        <a class="selected-text">
                            <span class="text">Start Training</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="split-right">
        <div class="centered">
          <div id="loader"></div>
          <h1>
            <img width="200" height="200" src="" alt="" id="test-photo">
            <span id="answerText"></span>
            <span id="interimText"></span>
          </h1>
        </div>
      </div>    
</div>
<!-- <app-split></app-split> -->