/* Create two unequal columns that floats next to each other */
.column-split {
    float: left;
    height:100vh;
    /* height: 300px; Should be removed. Only for demonstration */
  }

  .row {
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
  }
  
  .left {
    width: 50%;
  }
  
  .right {
    width: 50%;
  }