<div class="row" style="height:100%">
    <div class="column-split left" style="background-color:#ccc;">
        <div class="column-two portfolio-experiment" style="margin-top:40%">
            <a class="selected-text" (click)="goToCameraControl()">
                <span class="text">Gesture Training</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>
        </div>
    </div>
    <div class="column-split right" style="background-color:#222;">
        <div class="column-two portfolio-experiment" style="margin-top:40%">
            <a class="selected-text" (click)="goToLive()">
                <span class="text">Live Stream</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>
        </div>
    </div>
  </div>